.c-beneficios-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100vw; */
  height: 750px;
  background-color: white;
  color: black;
}

.c-beneficios-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 15px;
}
@media screen and (max-width: 1390px) {
  .c-beneficios-principal {
    height: 990px;
  }
}

@media screen and (max-width: 920px) {
  .c-beneficios-principal {
    height: 1050px;
  }
}

@media screen and (max-width: 787px) {
  .c-beneficios-principal {
    height: 1700px;
  }
}
