.c-plantillas-principal {
  /* width: 100vw; */
  height: 1350px;
  background-color: var(--onActionColor);
}

.c-plantillas-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.c-plantillas-info {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.c-plantillas-plantilla {
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-plantillas-btn {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.c-plantillas-bg-lineas {
  width: 100vw;
  height: 100%;
}
