.c-plantillas-principal {
  /* width: 100vw; */
  height: 1450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-plantillas-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-plantillas-info {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.c-plantillas-plantilla {
  padding: 15px;
  border-radius: 10px;
  width: 85%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondaryColor);
  box-shadow: 5px 5px 15px #fff2;
}

.c-plantillas-btn {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.c-plantillas-bg-lineas {
  width: 100vw;
  height: 100%;
}
